<h2>Food Trucks List</h2>

<%= current_user ? image_tag(current_user.avatar.url) : "" %>

<ul>
  <% @food_trucks.each do |truck| %>
    <li><%= link_to truck.name, food_truck_path(truck) %></li>
  <% end %>
</ul>

<%= paginate @food_trucks %>
