#content {
  margin-left: 8%;
  margin-right: 8%;
}

.schedule {
  list-style: none;
}

.col-lg-12 {
  text-align: center;
  margin: 40px;
}

#reviews {
  list-style: none;
  padding: 10px;
  margin: 5px;
  border: 1px solid grey;
}

#voter {
  text-align: right;
}

#body-label {
  display: block;
  vertical-align: middle;
}

#review-body {
  margin: 5px;
}

#edit-header {
  margin-top: 8px;
  
}
