.devise-registrations {
  background: image-url('moonlight-city-hd-cool-images-wallpapers.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.devise-sessions-new {
  background: image-url('moonlight-city-hd-cool-images-wallpapers.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.food-trucks-new {
  background: url(http://www.pc-junky.com/PB/images/Pacman%20Fruit.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

.centerTable {
  width: 20%;
  margin: 0 auto;
}
